.skeleton {
  height: 28px;
  width: 100px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem; /* gap-4 */

  /* font-size: 16px; */
  font-size: 1.125rem; /* 18px */
}

.link {
  display: flex;
  align-items: center;
  gap: 0.25rem; /* gap-1 */
  border-bottom: 2px solid transparent;
  padding-bottom: 0.25rem; /* pb-1 */
  transition: border-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  background: transparent;
  font-size: inherit;

  border-top: none;
  border-left: none;
  border-right: none;
  font-family: inherit;
  color: inherit;
}

.link:hover:not(.active) {
  border-bottom-color: var(--color-main-text);
}

.active {
  color: var(--color-nav-yellow);
  border-bottom-color: var(--color-nav-yellow);
}

.icon {
  width: 1.25rem; /* w-5 */
  height: 1.25rem; /* h-5 */
}

.iconSmall {
  width: 1rem; /* w-4 */
  height: 1rem; /* h-4 */
}

.separator {
  font-size: 0.875rem; /* text-sm */
}