
.root {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 350px;
  height: 30px;
  padding-left: 28px;

  background: var(--light-grey, #f3f4f6);
  border: none;
  border-radius: 0;
  /* border-bottom: 1px solid #000; */

  font-size: 14px;
  outline: none;
}

.input::placeholder {
  color: #9ca3af;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

@media (max-width: 767px) {
  .underline {
    display: none;
  }
}
