
.imgContainer {
  position: relative;
  perspective: 1200px;
}

.wrapper {
  position: relative;
  perspective: 1200px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flipped {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.back {
  transform: rotateY(180deg);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== Foil ===== */
/* .foil {
  position: absolute;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0.6;
  background: linear-gradient(
    120deg,
    rgba(255, 0, 150, 0.2),
    rgba(0, 255, 255, 0.25),
    rgba(255, 255, 0, 0.25)
  );
  background-size: 300% 300%;
  animation: shimmer 4s linear infinite;
} */

.foilOverlay {
  position: absolute;
  border-radius: 10px;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  /* opacity: 0.55; */

  background: linear-gradient(
    135deg, 
    rgba(222, 197, 37, 0) 0%,
    rgba(222, 197, 37, 0) 1%, 
  
    rgba(255, 20, 20, 0.10) 18%, 
    rgba(255, 140, 40, 0.16) 30%, 
  
    rgba(255, 235, 80, 0.30) 44%, 
    rgba(60, 255, 140, 0.48) 60%, 
    rgba(80, 255, 160, 0.50) 62%, 
  
    rgba(230, 220, 255, 0.46) 78%, 
    rgba(155, 140, 200, 0.44) 87%, 
    rgba(165, 150, 215, 0.44) 88%, 
  
    rgba(210, 205, 245, 0) 100%
  );
  
  /* background-size: 300% 300%; */
  animation: shimmer 4s linear infinite;
  
  z-index: 15;

  mix-blend-mode: screen;
filter: brightness(1.05) saturate(1.15);
}

@keyframes shimmer {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 300% 50%;
  }
}

/* ===== FLIP BUTTON ===== */
.flipBtn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


