.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  /* gap: 20px; */
}
.conditionPrice {
  display: flex;
  
  align-items: flex-end;
}

/*---- Price -----*/
.price {
  width: 125px;
  text-align: end;
  /* text-align: center; */
  font-size: 21px;
  font-weight: bold;
  color: rgb(5, 85, 14);
}

.newPrice {
  color: #ed6664;
  font-weight: 700;
}

.oldPrice {
  text-decoration: line-through;
  color: #888;
  font-size: 19px;
}


/* ----------------------- */

  .nonfoils {
    width: 92px;
  }

   /* Фон-картинка для Foils */
.foils {
  /* display: none; */
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  /* border: 1px solid transparent; */
  background: linear-gradient(45deg, rgba(29,81,5,0.5) 0%, rgba(236,238,108,0.5) 59%, rgba(0,220,255,0.3) 100%);
  width: 92px;
  border-radius: 4px;
  padding: 2px 10px;
  color: #333;  
}