
/* outline: 1px solid red; */

.cardDetailsContainer {
  display: flex;
  justify-content: center;
  /* justify-content:space-between; */
  /* align-items: center; */
  padding: 20px;
  gap: 150px;
  width: 100%;
  /* outline: 1px solid blue; */
}


.imgContainer {
  /* display: flex; */
  /* justify-content: center;
  margin: auto; */
  /* margin-top: 20px; */

  /* width: 325px;
  height: 453px; */

  /* border-radius: 10px; */
  /* overflow: hidden; */
  /* position: relative; */
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.imgContainer {
  perspective: 1000px;
  perspective: 1200px;
  width: 325px;
  height: 453px;

  position: relative;
}


/* ===== Foil effect ===== */
/* .foilOverlay {
  position: absolute;
  border-radius: 10px;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0.55;

  background: linear-gradient(
    120deg,
    rgba(255, 0, 150, 0.15),
    rgba(0, 255, 255, 0.2),
    rgba(255, 255, 0, 0.2),
    rgba(0, 255, 150, 0.2),
    rgba(255, 0, 150, 0.15)
  );

  background-size: 300% 300%;
  animation: foilShimmer 4s linear infinite;
} */

.foilOverlay {
  position: absolute;
  border-radius: 10px;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  /* opacity: 0.55; */

  background: linear-gradient(
    135deg, 
    rgba(222, 197, 37, 0) 0%,
    rgba(222, 197, 37, 0) 1%, 
    rgba(255, 8, 8, 0.06) 19%, 
    rgba(239, 111, 23, 0.1) 32%, 
    rgba(222, 213, 37, 0.23) 45%, 
    rgba(36, 222, 101, 0.39) 62%, 
    rgba(47, 221, 109, 0.4) 63%, 
    rgba(216, 208, 239, 0.39) 79%, 
    rgba(131, 123, 173, 0.38) 88%, 
    rgba(136, 129, 178, 0.38) 89%, 
    rgba(193, 191, 234, 0) 100%
    );
  /* background-size: 300% 300%; */
  animation: foilShimmer 4s linear infinite;
  
  z-index: 15;
}

/* ===== Foil animation ===== */
@keyframes foilShimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}


/* ============= flipped ========== */
  
    
.imgCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 10px; */
}
  /* .cardInner {
    position: relative;
    width: 336px;
    height: 468px;
    width: 325px;
    height: 453px; 
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
  } */


  .cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    /* cursor: pointer; */
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  /* .cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 10px;
  } */

  .cardFace {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .cardBack {
    transform: rotateY(180deg);
  }


  
  .flipBtn {
    position: absolute;
    top: 410px;
    left: 138px;
    /* bottom: 12px;
    right: 12px; */
    
    /* width: 40px;
    height: 40px; */
    /* width: 50px;
    height: 50px; */
    padding: 11px 11px;
    border-radius: 50%;
  
    background: rgba(0, 0, 0, 0.55);
    color: white;
    z-index: 10;
    cursor: pointer;
  }

  
  /* ====================== */
  
  
  /* 
  .imgCard::after {
    content: "";
    position: absolute;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg, 
        rgba(222, 197, 37, 0) 0%,
        rgba(222, 197, 37, 0) 1%, 
        rgba(255, 8, 8, 0.06) 19%, 
        rgba(239, 111, 23, 0.1) 32%, 
        rgba(222, 213, 37, 0.23) 45%, 
        rgba(36, 222, 101, 0.39) 62%, 
        rgba(47, 221, 109, 0.4) 63%, 
        rgba(216, 208, 239, 0.39) 79%, 
        rgba(131, 123, 173, 0.38) 88%, 
        rgba(136, 129, 178, 0.38) 89%, 
        rgba(193, 191, 234, 0) 100%
        );
        border-radius: 5% / 4%;
  } */
  
  /* =============== Foil === */
  /* .foilBadge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: gold;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 5px;
    z-index: 20;
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.6);
  } */
  
  .foilEffect::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: linear-gradient(
        135deg, 
        rgba(222, 197, 37, 0) 0%,
        rgba(222, 197, 37, 0) 1%, 
        rgba(255, 8, 8, 0.06) 19%, 
        rgba(239, 111, 23, 0.1) 32%, 
        rgba(222, 213, 37, 0.23) 45%, 
        rgba(36, 222, 101, 0.39) 62%, 
        rgba(47, 221, 109, 0.4) 63%, 
        rgba(216, 208, 239, 0.39) 79%, 
        rgba(131, 123, 173, 0.38) 88%, 
        rgba(136, 129, 178, 0.38) 89%, 
        rgba(193, 191, 234, 0) 100%
        );
    /* background-size: 200% 200%;
    animation: shimmer 2s infinite linear; */
    z-index: 15;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  /* ================== === */
  
  
  
  .cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 720px;
    /* outline: 1px solid green; */
  }
  
  /* Фон-картинка для Foils */
.foils {
  /* display: none; */
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid transparent;
  background: linear-gradient(45deg, rgba(29,81,5,0.5) 0%, rgba(236,238,108,0.5) 59%, rgba(0,220,255,0.3) 100%);
  width: 92px;
  border-radius: 4px;
  padding: 2px 10px;
  color: #333;
  margin-bottom: 10px;
}

.nameCard {
  display: flex;
  gap: 5px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.set {
  font-size: 20px;
  font-weight: bold;
  
  color: rgb(29, 81, 5);
}
  
/* Legalities */
.format {
  display: flex;
  flex-wrap: wrap;
    width: 600px;
    gap: 5px 40px;
  }
  
  .legal {
    width: 110px;
    text-align: center;
    background-color: rgb(29, 81, 5, 0.58);
    color: white;
    /* color: #141517; */
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin: 2px;
  }
  
  .notLegal {
    width: 110px;
    text-align: center;
    background-color: rgb(154, 153, 153, 0.75);
    color: white;
    /* color: #141517; */
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin: 2px;
  }
  
  .restricted {
    width: 110px;
    text-align: center;
    color: #141517;
    color: #eff2f8;
    background-color: rgba(36, 103, 130, 0.58);
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin: 2px;
  }
  
  .banned {
    width: 110px;
    text-align: center;
    background-color: rgb(132, 5, 27, 0.58);
    /* background-color: rgb(252, 210, 26, 0.7); */
    color: #eff2f8;
    /* color: #141517; */
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin: 2px;
  }
  
  /* ------------------ */
  
  .priceBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    gap: 20px;
  }
  .conditionPrice {
    display: flex;
    
    align-items: flex-end;
  }
  .price {
    /* width: 100px; */
    /* text-align: center; */
    font-size: 24px;
    font-weight: bold;
    color: rgb(5, 85, 14);
  }
  



  
    /* .type {
    font-style: italic;
    margin-bottom: 10px;
  } */
  
  

  /* .rotate {
    width: 24px;
    height: 24px;
    margin-left: 2px;
    } */