/* src/components/WishlistButton/WishlistButton.module.css */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 33px;
  height: 32px;
  padding: 5px 0;
  border-radius: 4px;
  
  border: none;
  outline: none;
  cursor: pointer;
  
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.button:active {
  transform: scale(0.95); /* Эффект нажатия */
}

/* --- ВАРИАНТЫ ФОНА --- */
.variantTransparent {
  background-color: transparent;
  width: 22px;
}

/* border: 1px solid #1d5105;  */
.variantSolid {
  height: 33px;
  width: 33px;
  border: 1px solid #ccc; 
  background-color: #eff2f8;
}

.variantWhite {
  background-color: #ffffff; /* Белый фон для деталей карточки */
}

/* --- АДАПТИВНЫЙ ВАРИАНТ --- */
.variantResponsive {
  /* По умолчанию (мобилки и планшеты) */
  /* background-color: #eff2f8; */
  background-color: #ffffff;
  border: 1px solid #ccc;
  /* padding-left: 6px;
  padding-right: 6px; */
  border-radius: 4px;
  width: 37px;
  height: 33px;
}

/* --- СТИЛИ ИКОНКИ (СЕРДЕЧКА) --- */
.icon {
  color: #1d5105; /* Контур всегда темно-зеленый */
  transition: fill 0.2s ease;
}

/* Если НЕ лайкнуто */
.unliked {
  fill: transparent;
}

/* Эффект при наведении на кнопку (заливаем сердечко пастельным) */
.button:hover .unliked {
  fill: #b8e8a7; 
}

/* Если ЛАЙКНУТО */
.liked {
  fill: #1d5105; /* Полностью темно-зеленое */
}


@media (min-width: 1440px) {
  .button {
    width: 22px;
    
  }

  .variantResponsive {
    background-color: transparent;
    border: none;
  }
  
}